<div style="height: {{details.config.height}}px !important;">
    <ul class="company_details_dashboard">
        <li>
            <h1>Arabian Centers Human Resources</h1>
        </li>
        <li>
            <p><span>Industry :</span>Recruitment Company</p>
        </li>
        <li>
            <p><span>Location :</span>Garhoud, Dubai, United Arab Emirates</p>
        </li>
        <li>
            <p><span>Phone :</span>055 525 23322</p>
        </li>
        <li>
            <p><span>Email :</span>test@jobsglobal.com</p>
        </li>
    </ul>
</div>
