<div>
    <form class="form-horizontal" name="jobPostForm" data-ng-init="jobPost.addPosition()" novalidate data-ng-submit="jobPost.saveJobPosts(jobPostForm)">
        <div class="modal-body-save1">
            <div class="col-lg-12 col-sm-12 col-xs-12 profile-tabs">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <h4 class="default_heading no-margin"><span>Work Information</span></h4>
                </div>
                <div class="addPosition" data-ng-repeat="job in jobPost.newJobs">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <h6 class="default_label">Position<span class="require_star">*</span></h6>
                                <input id="title" name="title{{$index}}" type="text" placeholder="" class="default_input_text title" data-ng-model="job.job_title" data-ng-required="true" data-ng-maxlength="125" maxlength="125">
                                <span class="error-message" data-ng-show="jobPostForm.title{{$index}}.$error.required && jobPostForm.title{{$index}}.$touched">Please specify position</span>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <h6 class="default_label">Experience<span class="require_star">*</span></h6>
                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                    <div class="row select-container">
                                        <select name="experience{{$index}}" class="default_input_select yearsofexp" data-ng-model="job.experience" data-ng-options="i as i for i in jobPost.expRange" data-ng-required="true">
                                            <option value="" disabled selected>Select Experience</option>
                                        </select>
                                        <span class="arrow" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <span class="error-message" data-ng-show="jobPostForm.experience{{$index}}.$error.required && jobPostForm.experience{{$index}}.$touched">Please specify experience.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-3 col-sm-3 col-xs-12">
                                <h6 class="default_label">Currency</h6>
                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                    <div class="row select-container">
                                        <select name="currency{{$index}}" class="default_input_select" data-ng-model="job.currency" data-ng-required="(job.salary > 0)" data-ng-options="currency.currency_code as currency.currency_code for currency in jobPost.currencies ">
                                            <option value="" disabled selected>Select currency</option>
                                        </select>
                                        <span class="arrow" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <span class="error-message" data-ng-show="jobPostForm.currency{{$index}}.$error.required && jobPostForm.currency{{$index}}.$touched">Please specify currency.</span>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-xs-12">
                                <h6 class="default_label">Salary</h6>
                                <input name="salary{{$index}}" type="number" placeholder="" value="0" class="default_input_text salary" data-ng-model="job.salary">
                            </div>
                            <div class="col-lg-4 col-sm-3 col-xs-6">
                                <h6 class="default_label">Upload Photo</h6>
                                <div class="button company_reg_btn_set" data-ng-model="job.image" data-name="image{{$index}}" data-ngf-pattern="'image/*'" data-ngf-accept="'image/*'" data-ngf-max-size="5MB" data-ngf-min-height="100" data-ngf-min-width="100" data-ngf-max-height="2160" data-ngf-max-width="2160" data-ngf-fix-orientation="true" data-ngf-resize="jobPost.resizeOptions($file)" data-ngf-resize-if="$width > 1024 || $height > 1024" data-ngf-select="">
                                    <button type="button" class="company_file_select">Select Cover Photo</button>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-3 col-xs-6">
                                <img data-ngf-thumbnail="job.image" class="job_post_img">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <h6 class="default_label">Job Details<span class="require_star">*</span>
                                            </h6>
                                <textarea class="default_input_textarea details" name="details{{$index}}" data-ng-model="job.job_description" maxlength="5000" data-ng-required="true"></textarea>
                                <span class="error-message" data-ng-show="jobPostForm.details{{$index}}.$error.required && jobPostForm.details{{$index}}.$touched">Please specify details.</span>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <h6 class="default_label">Url</h6>
                                <p title="Generated url" data-ng-bind="job.fullUrl" class="job-url"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <a href data-ng-click="jobPost.addPosition(jobPostForm)">Add Position</a>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <h4 class="default_heading modal_jobpost_head"><span>Location</span></h4>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <h6 class="default_label">Industry<span class="require_star">*</span></h6>
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="row select-container">
                                    <select name="industry" class="default_input_select" data-ng-options="industry.description for industry in jobPost.industries" data-ng-model="jobPost.jobsLocation.industry" data-ng-required="true">
                                        <option value="" disabled selected>Select Industry</option>
                                    </select>
                                    <span class="arrow" aria-hidden="true"></span>
                                </div>
                            </div>
                            <span class="error-message" data-ng-show="jobPostForm.industry.$error.required && jobPostForm.industry.$touched">Please specify industry.</span>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <h6 class="default_label">Country<span class="require_star">*</span></h6>
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="row select-container">
                                    <select name="country" data-ng-model="jobPost.jobsLocation.country" class="default_input_select" data-ng-options="country as country.nicename for country in jobPost.countries" data-ng-change="jobPost.getStates(jobPost.jobsLocation.country)" data-ng-required="true">
                                        <option value="" disabled selected>Select Country</option>
                                    </select>
                                    <span class="arrow" aria-hidden="true"></span>
                                </div>
                            </div>
                            <span class="error-message" data-ng-show="jobPostForm.country.$error.required && jobPostForm.country.$touched">Please specify country.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 ">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12 state" data-ng-show="jobPost.jobsLocation.country && jobPost.states.length > 0">
                            <h6 class="default_label">State<span class="require_star">*</span></h6>
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="row select-container">
                                    <select name="state" class="default_input_select" data-ng-model="jobPost.jobsLocation.state" data-ng-change="jobPost.getCities(jobPost.jobsLocation.state)" data-ng-required="jobPost.states && jobPost.states.length" data-ng-options="state as state.name for state in jobPost.states">
                                        <option value="" disabled selected>Select State</option>
                                    </select>
                                    <span class="arrow" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 cityDv" data-ng-show="jobPost.jobsLocation.state && jobPost.cities.length > 0">
                            <h6 class="default_label">City</h6>
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="row select-container">
                                    <select name="city" class="default_input_select" data-ng-model="jobPost.jobsLocation.city" data-ng-required="jobPost.cities && jobPost.cities.length" data-ng-options="city as city.name for city in jobPost.cities">
                                        <option value="" disabled selected>Select City</option>
                                    </select>
                                </div>
                            </div>
                            <span class="arrow" aria-hidden="true"></span>
                            <span class="error-message" data-ng-show="jobPostForm.city.$error.required && jobPostForm.city.$touched">Please specify city.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <button type="submit" class="modal_job_post_submit">
                    Post
                </button>
                <button type="button" id="closeSaveBtn" class="modal_job_post_cancel" data-dismiss="modal" data-ng-click="jobPost.cancelJobPost()">Cancel
                </button>
            </div>
            <div class="zloader" data-ng-show="jobPost.loader">
                <div class="sk-circle">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>
            </div>
        </div>
    </form>
</div>
