<div class="timeline-container" style="max-height: {{timeline.config.height}}px !important;">
    <timeline>
        <timeline-event ng-repeat="event in timeline.events">
            <timeline-badge class="actor-avatar timeline-hidden" when-visible="timeline.animateElementIn" when-not-visible="timeline.animateElementOut" bind-scroll-to=".timeline-container">
                <img class="img-responsive" data-ng-src="{{event.actor.avatar}}" alt="{{event.actor.first_name}}">
            </timeline-badge>
            <timeline-panel class="{{event.badgeClass}} timline-hidden" when-visible="timeline.animateElementIn" when-not-visible="timeline.animateElementOut" bind-scroll-to=".timeline-container">
                <timeline-heading data-ng-switch data-on="event.app">
                    <span class="pull-right" am-time-ago="event.created | amUtc"></span>
                    <span class="title-header"
                          data-ng-switch-when="groups.wall">{{(event.actor.user_id==timeline.currentUser.user_id) ? "You" : event.actor.first_name}}
                        posted a status.
                    	<h4 data-ng-bind-html="event.title"></h4>
                    </span>
                    <span class="title-header" data-ng-switch-when="groups.jobpost">{{event.actor.first_name}} posted a job.
                    	<h4 data-ng-bind-html="event.title"></h4>
                    </span>
                    <span class="title-header" data-ng-switch-when="groups.join">
						<ng-pluralize count="event.actors.length"
                          when="{
						'0': '',
						'1': '{{event.actors[0].first_name}} has joined the company.',
						'2': '{{event.actors[0].first_name}} and {{event.actors[1].first_name}} have joined the company.',
						'one': '{{event.actors[0].first_name}} and {{event.actors[1].first_name}} and one other have joined the company.',
						'other': '{{event.actors[0].first_name}} and {{event.actors[1].first_name}} and {} other have joined the company.'
						}" offset="2"></ng-pluralize>
                    </span>
                    <span class="title-header" data-ng-switch-when="videos">{{event.actor.first_name}} posted a video.
	                    <br>
						<h5>
                <a data-ng-href="{{event.params.video_url}}">Link</a> to video.
            </h5>
                    </span>
                    <span class="title-header" data-ng-switch-when="photos">{{event.actor.first_name}} posted a photo.

	                    <br>
						<h5>
                <a data-ng-href="{{event.params.photo_url}}">Link</a> to photo.
            </h5>
                    </span>
                    <span class="title-header" data-ng-switch-when="events">{{event.actor.first_name}} posted an event.

	                    <br>
						<h5>
                <a data-ng-href="{{event.params.event_url}}">Link</a> to event.
            </h5>
                    </span>
                </timeline-heading>
                <p data-ng-bind-html="event.content"></p>
            </timeline-panel>
        </timeline-event>
    </timeline>
</div>
