<div>
    <ol class="dashbord_top_jobs">
        <li>
            <ul class="dashbord_top_jobs_ul-1">
                <li class="col-lg-8 col-sm-8 col-xs-8">
                    <h4>Position</h4>
                </li>
                <li class="col-lg-4 col-sm-4 col-xs-4">
                    <h4>Applicants</h4>
                </li>
            </ul>
        </li>
        <li style="height: {{topJobs.config.height}}px !important;overflow: auto">
            <ul class="dashbord_top_jobs_ul-2" data-ng-repeat="job in topJobs.data">
                <li class="col-lg-8 col-sm-8 col-xs-8">
                    <p data-ng-bind="job.job_title"></p>
                </li>
                <li class="col-lg-4 col-sm-4 col-xs-4">
                    <p class="text-center" data-ng-bind="job.total"></p>
                </li>
            </ul>
        </li>
    </ol>
</div>
