.widget .dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    padding: 54px 54px;
    box-sizing: border-box;
}

.widget .dropzone .dz-message {
    text-align: center !important;
}

.widget .ads img {
    margin: auto;
    height: 100%;
}

.widget .timeline {
    overflow: auto;
}

.widget .slick-dots {
    bottom: -25px !important;
}

.widget .actor-avatar {
    overflow: hidden;
}

.widget .job-post-form {}

.job-post-form .job-url {
    word-wrap: break-word;
}

.widget .pane {}

.dashbord_top_jobs {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

.dashbord_top_jobs > li {
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
}

.dashbord_top_jobs > li > ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 3px;
}

.dashbord_top_jobs > li > ul > li {
    float: left;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.dashbord_top_jobs > li > ul > li h4 {
    color: #555;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}

.dashbord_top_jobs_ul-1 {
    background: #fff none repeat scroll 0 0;
}

.dashbord_top_jobs > li > ul > li p {
    color: #555;
    float: left;
    font-size: 12px;
    margin: 0;
    padding: 5px 0;
    width: 100%;
}


/*.dashbord_top_jobs > li > ul.dashbord_top_jobs_ul-2:nth-child(even) {
    background: #F1F3F5;
}

.dashbord_top_jobs > li > ul.dashbord_top_jobs_ul-2:nth-child(odd) {
    background: #fff;
}*/
