.widget .dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    padding: 54px 54px;
    box-sizing: border-box;
}

.widget .dropzone .dz-message {
    text-align: center !important;
}

.widget .ads img {
    margin: auto;
    height: 100%;
}

.widget .slick-dots {
    bottom: -25px !important;
}

.widget .actor-avatar {
    overflow: hidden;
}

.widget .job-post-form {}

.job-post-form .job-url {
    word-wrap: break-word;
}

.widget .pane {}

.dashbord_top_jobs {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

.dashbord_top_jobs > li {
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
}

.dashbord_top_jobs > li > ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 3px;
}

.dashbord_top_jobs_ul-2 {
    border-bottom: 1px solid #ddd;
}

.dashbord_top_jobs > li > ul > li {
    float: left;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.dashbord_top_jobs > li > ul > li h4 {
    color: #555;
    float: left;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    padding: 0 0 10px;
    width: 100%;
}

.dashbord_top_jobs > li > ul > li p {
    color: #555;
    float: left;
    font-size: 12px;
    margin: 0;
    padding: 5px 0;
    width: 100%;
}

.dashbord_widget .timeline-container {
    overflow-y: scroll;
}

.view_all_button {
    background: none;
    border: none;
    color: #555;
    float: left;
    font-size: 13px;
    line-height: 14px;
    margin: 0;
    padding: 0;
}

.view_all_button i {
    float: left;
    font-size: 14px;
    color: #555;
    margin-right: 3px;
}

.top_jobs_dashboard_mrgn {
    margin-top: 15px;
}


/* for notification starts here */

.notification_ul {
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
}

.notification_ul li {
    border-bottom: 1px solid #f0f0f0;
    float: left;
    list-style-type: none;
    padding: 8px 3px;
    width: 100%;
}

.notification_ul > li:last-child {
    border: none;
}

.notification_ul li img {
    float: left;
    width: 100%;
    border-radius: 3px;
}

.notification_ul li p {
    color: #555;
    float: left;
    font-size: 14px;
    margin: 0 0 0 7px;
    width: 100%;
    line-height: 14px;
}

.notification_ul li p span.name {
    color: #555;
    font-family: open_sanssemibold;
    font-size: 13px;
}

.notification_ul li p span.action {
    color: #777;
    font-size: 13px;
    padding: 0 5px;
}

.notification_ul li p span.object {
    font-size: 13px;
}

.notification_ul li h6 {
    color: #477494;
    float: left;
    font-size: 12px;
    line-height: 12px;
    margin: 4px 0 0 7px;
    width: 100%;
}

.c_all_cpanel {
    background: none;
    color: #555;
    float: right;
    font-size: 13px;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 14px;
}

.c_all_insight_cpanel {
    background: none;
    color: #555;
    float: right;
    font-size: 13px;
    margin: 15px 0 0 0;
    padding: 0;
    border: none;
    line-height: 14px;
}

.c_all_cpanel i {
    float: left;
    font-size: 14px;
    color: #555;
    margin-right: 3px;
}

.c_all_insight_cpanel i {
    float: left;
    font-size: 14px;
    color: #555;
    margin-right: 3px;
}


/* for notification ends here */


/* recent followers starts here */

.recent_followers_ul {
    float: left;
    margin: 0 0 15px;
    padding: 0;
    width: 100%;
}

.recent_followers_ul li {
    display: inline-block;
    list-style-type: none;
    margin: 4px;
    width: 17%;
}

.recent_followers_ul li img {
    float: left;
    width: 100%;
    border-radius: 2px;
}


/* recent followers ends here */


/* messages widget starts here */

.message_date {
    color: #888;
    float: right;
    font-size: 12px;
}

.message_h5 {
    float: left;
    margin: 2px 7px;
    padding: 0;
    width: 100%;
    font-size: 13px;
    color: #888;
}


/* messages widget ends here */


/* cv saerch link starts here */

.dashboard_cv_search_link {
    background: #eb4960;
    border-radius: 5px;
    float: left;
    margin: 0;
    padding: 0px;
    width: 100%;
}

.dashboard_cv_search_link i {
    float: left;
    font-size: 60px;
    padding: 10px;
    text-align: center;
    width: 100%;
    color: #fff;
}

.dashboard_cv_search_link span {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    float: left;
    font-size: 18px;
    padding: 5px 0;
    text-align: center;
    width: 100%;
    border-radius: 0 0px 5px 5px;
}


/* cv search link ends here */
